* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 243, 243);

  header {
    width: 100vw;
    height: 100px;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item1 . item2";

    .item1 {
      grid-area: item1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    
      img {
        margin-left: 25px;
      }
    }
   
    .item2 {
      grid-area: item2;

      ul {
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        a {
          text-decoration: none;

        li {
          display: inline;
          padding: .5rem;
          margin: .5rem;
          background-color: #DD914B;
          color:rgb(245, 243, 243);
          border-radius: 8px;

          &:hover, &.active {
            background-color: rgb(245, 243, 243);
            color: #DD914B;
          }
        }
      }
      }
    }
  }

  .content {
    padding-top: 25px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .post {
      margin: .5rem;
      border: 1px solid black;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      h2 {
        width: 100%;
        border-radius: 4px;
        background-color: #E5E5E5;
        border-bottom: 1px solid black;
        text-align: center;
        padding: .3rem;
      }

      p {
        padding: 1rem;
      }

      img {
        margin: .3rem;
      }
    }

  }
}

@media only screen and (max-width: 800px) {
  body {
    .content {
      grid-template-columns: 1fr;
      max-width: 600px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    .content {
      width: 100%;
    }
  }
}